@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital@0;1&family=Hind:wght@300;400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap");
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 100vh;
  background: url(../img/background-hand-in.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.031372549);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(158, 118, 245, 0.11);
  flex-wrap: nowrap;
  width: 50%;
  height: 40%;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .welcome {
    width: 60%;
  }
}

.welcome h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-weight: 300;
  margin: 1rem;
}

.welcome p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 1rem;
  font-size: larger;
  color: white;
}
@media screen and (max-width: 450px) {
  .welcome p {
    font-size: medium;
  }
}

.arrow {
  margin: 3rem;
  transition: all 2s;
  -webkit-animation: arrow 2s infinite alternate;
          animation: arrow 2s infinite alternate;
}

@-webkit-keyframes arrow {
  0% {
    margin: 3rem;
    opacity: 0;
  }
  100% {
    margin: 2rem;
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    margin: 3rem;
    opacity: 0;
  }
  100% {
    margin: 2rem;
    opacity: 1;
  }
}
.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/background-hand-in.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: white;
}
@media screen and (max-width: 450px) {
  .games {
    width: 100vw;
  }
}

#container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.031372549);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(158, 118, 245, 0.11);
}
@media screen and (max-width: 450px) {
  #container-form {
    width: 60%;
  }
}

#container-form h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-bottom: 2rem;
}

label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2rem;
}

#field {
  font-family: "Hind", sans-serif;
  font-weight: 200;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
@media screen and (max-width: 450px) {
  #field {
    width: 80%;
    padding: 1rem;
  }
}

#btn {
  font-family: "Hind", sans-serif;
  font-weight: 200;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  color: #000000;
  border: 1px solid white;
  border-radius: 12px;
  padding: 0.5rem;
  transition: all 1s;
}
@media screen and (max-width: 450px) {
  #btn {
    width: 50%;
    padding: 17px;
    border-radius: 25px;
    font-size: 15px;
  }
}

#btn:hover {

  background-color: rgba(0, 0, 0, 0.1098039216);

  color: #ffffff;
  border: 1px solid #530053;
}

#game-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  transition: all 2s;
}

#game-container div:hover {

  box-shadow: 0 8px 32px 0 rgba(61, 61, 62, 0.37);

}

#game-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.031372549);
  border-radius: 20px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(158, 118, 245, 0.11);
  width: 70%;
  height: 50%;
  margin: 15px;
  padding: 20px;
}
@media screen and (max-width: 450px) {
  #game-container div {
    width: 73%;
  }
}

#game-container img {
  margin: 0.5rem;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  #game-container img {
    width: 110%;
  }
}

#game-container h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 1rem;
}
@media screen and (max-width: 450px) {
  #game-container h3 {
    margin: 7px;
  }
}

#game-container p {
  font-family: "Hind", sans-serif;
  font-weight: 200;
  margin: 1rem;
  text-align: center;
}
@media screen and (max-width: 450px) {
  #game-container p {
    margin: 1rem;
    font-size: small;
  }
}

#game-container a:link,
a:visited {
  font-family: "Hind", sans-serif;
  font-weight: 200;
  width: 80px;
  background-color: #ffffff;

  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2666666667);
  border-radius: 12px;

  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-style: normal;
  transition: all 2s;
}
@media screen and (max-width: 450px) {
  #game-container a:link,
a:visited {
    padding: 1rem;

    border-radius: 25px;
    background-color: white;
    color: black;
  }
}

#game-container a:hover {

  background-color: rgba(0, 0, 0, 0.1098039216);
  color: #ffffff;
  border: 1px solid #530053;

}/*# sourceMappingURL=style.css.map */