@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital@0;1&family=Hind:wght@300;400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap");
@import "mixins";

$small: 450px;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  @include flexColumnCenterCenter;
  color: white;
  width: 100%;
  height: 100vh;
  @include backgroundMain;
}

.welcome {
  @include flexColumnCenterCenter;
  @include glassmorphismTransp;
  flex-wrap: nowrap;
  // width: max-content; THIS IS FOR MOBILE MEDIAQUERIE
  width: 50vw;
  height: 50vh;
  text-align: center;
  @media screen and (max-width: $small) {
    width: 50vh;
  }
}

.welcome h1 {
  @include titles;
  font-weight: 300;
  margin: 1rem;
}

.welcome p {
  @include subtitles;
  margin: 1rem;
  font-size: larger;
  color: white;
  @media screen and (max-width: $small) {
    font-size: medium;
  }
}

.arrow {
  margin: 3rem;
  animation: arrow 2s infinite alternate;
}

@keyframes arrow {
  0% {
    margin: 3rem;
    opacity: 0;
  }

  100% {
    margin: 2rem;
    opacity: 1;
  }
}

.games {
  @include flexColumnCenterCenter;
  @include backgroundMain;
  width: 100%;
  height: max-content;
  color: white;
  @media screen and (max-width: $small) {
    width: 100vw;
  }
}

#container-form {
  @include flexColumnCenterCenter;
  width: 60%;
  padding: 30px;
  margin: 50px;
  background: #52026d3e;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.072);
  text-align: center;
  @media screen and (max-width: $small) {
    width: 55vh;
  }
}

#container-form h1 {
  @include titles;
  margin-bottom: 2rem;
}

label {
  @include subtitles;
  margin-bottom: 2rem;
}

#field {
  @include text;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 2rem;
  font-weight: 500;
  @media screen and (max-width: $small) {
   padding: 20px;
  }
}

#btn {
  @include text;
  width: 26%;
  font-weight: 500;
  color: rgb(40, 1, 51);
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  @media screen and (max-width: $small) {
    width: 40%;
    padding: 17px;
    border-radius: 25px;
    font-size: 15px;
  }
}

#btn:hover {
  color: white;
}

#btn::after {
  content: "";
  background: #2a003fd8;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  @media screen and (max-width: $small) {
    background: white;
    content: none;
  }
}

#btn:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#game-conteiner {
  @include flexColumnCenterCenter;
  margin-top: 100px;
}

#game-container div:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#game-container div {
  @include flexColumnCenterCenter;
  @include glassmorphismTransp;
  width: 70%;
  height: 50%;
  margin: 15px;
  padding: 20px;
  @media screen and (max-width: $small) {
    width: 73%;
  }
}

#game-container img {
  margin: 5px;
  border-radius: 10px;
  @media screen and (max-width: $small) {
    width: 113%;
  }
}

#game-container h3 {
  @include subtitles;
  margin: 10px;
  @media screen and (max-width: $small) {
    margin: 7px;
  }
}

#game-container p {
  @include text;
  margin: 10px;
  @media screen and (max-width: $small) {
    margin: 9px;
    font-size: small;
  }
}

#game-container a:link,
a:visited {
  @include text;
  width: 10%;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.265);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-style: normal;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  @media screen and (max-width: $small) {
    width: 50%;
    padding: 7px;
    border-radius: 25px;
    background-color: white;
    color: black;
  }
}

#game-container a:hover {
  color: white;
  border: 1px solid white;
}

#game-container a::after {
  content: "";
  background: #5a52fb1f;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}

#game-container a:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}
